<% daily_reports.each do |daily_report| %>
  <div class="card link-card mb-2">
    <div class="card-body pt-2">
      <h2 class="card-title"><%= link_to daily_report.title, daily_report, class: "h5 link-dark link-underline link-underline-opacity-0 stretched-link" %></h2>
      <p class="card-subtitle">
        <span class="small">
          <%= l daily_report.created_at %>
        </span>
        <span class="badge rounded-pill <%= "mood-#{daily_report.mood}" %>">
          <%= daily_report.mood_ja %>
        </span>
        <span class="small">
          <% daily_report.learned_tags.each do |tag| %>
            <%= link_to tag.name, daily_reports_path(filter: {learned_tag_id: tag.id}), class: "link-secondary link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover position-relative z-1" %>
          <% end %>
        </span>
      </p>
    </div>
  </div>
<% end %>
