<%= form_with url: update_password_user_path, method: :patch, model: user do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, 'error') %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :password, class: "form-label" %>
    <%= form.password_field :password, class: "form-control" %>
  </div>

   <div class="mb-3">
     <%= form.label :password_confirmation, class: "form-label" %>
     <%= form.password_field :password_confirmation, class: "form-control" %>
   </div>

  <div>
    <%= form.submit class: "btn btn-outline-info" %>
    <%= link_to "戻る", user_path(user), class: 'btn btn-outline-secondary' %>
  </div>
<% end %>
