<div id="<%= dom_id user %>">
  <div class="container">
    <div class="row mb-3">
      <div class="col-4">ユーザー名</div>
      <div class="col-8"><%= user.full_name %></div>
    </div>
    <div class="row mb-3">
      <div class="col-4">メールアドレス</div>
      <div class="col-8"><%= user.email %></div>
    </div>
    <div class="row mb-3">
      <div class="col-4">権限</div>
      <div class="col-8"><%= user.admin ? "管理者" : "一般" %></div>
    </div>
    <div class="row mb-3">
      <div class="col-4">ステータス</div>
      <div class="col-8"><%= user.status_text %></div>
    </div>
  </div>
</div>
