<div id="<%= dom_id user %>">
  <p>
    <strong>姓:</strong>
    <%= user.first_name %>
  </p>

  <p>
    <strong>名:</strong>
    <%= user.last_name %>
  </p>

  <p>
    <strong>メールアドレス:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>権限:</strong>
    <%= user.admin ? "管理者" : "一般" %>
  </p>

</div>
