<div class="d-flex justify-content-between align-items-center ">
  <h1>ユーザー一覧</h1>
  <% if can? :create, User %>
    <%= link_to "新規ユーザー", new_user_path, class: 'btn btn-outline-info' %>
  <% end %>
</div>

<div id="users">
  <table class="table">
    <thead>
      <tr>
        <td>氏名</td>
        <td>メールアドレス</td>
        <td>管理者</td>
        <td></td>
      </tr>
    </thead>

    <tbody class="table-group-divider">
      <% @users.each do |user| %>
        <tr>
          <td><%= "#{user.last_name} #{user.first_name}" %></td>
          <td><%= user.email %></td>
          <td><%= user.admin ? '管理者' : '一般' %></td>
          <td><%= link_to "ユーザー詳細へ", user, class: 'btn btn-outline-secondary', style: '--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;' %></td>
        </tr>
      <% end %>
    </tbody>
    
  </table>
</div>
