<div>
  <%= render @user %>

  <% if can? :edit, @user %>
    <%= link_to "編集", edit_user_path(@user), class: 'btn btn-outline-info' %>
  <% end %>
  <%= link_to "戻る", users_path, class: 'btn btn-outline-secondary' %>
  <% if (can? :destroy, @user) && @user != current_user %>
    <% if @user.active? %>
      <%= link_to "退社", @user, data: { turbo_method: :delete }, class: 'btn btn-outline-danger' %>
    <% else %>
      <%= link_to "復帰", restore_user_path(@user), data: { turbo_method: :patch }, class: 'btn btn-outline-success' %>
    <% end %>
  <% end %>
</div>

<h2 class="mt-5"><%= @daily_reports.present? ? '最新の日報' : 'まだ日報を作成していません' %></h2>

<% @daily_reports.each do |daily_report| %>
  <%= render partial: 'daily_reports/daily_report', locals: { daily_report: daily_report } %>
  <p>
    <%= link_to "Show this daily report", daily_report %>
  </p>
<% end %>
