<div class="d-flex justify-content-between align-items-center mb-3">
  <h1 class="h3">プロフィール</h1>
  <div>
    <% if can? :edit, @user %>
      <%= link_to "編集", edit_user_path(@user), class: 'btn btn-outline-info' %>
      <%= link_to "パスワードの変更", edit_user_password_path(@user), class: 'btn btn-outline-info' %>
    <% end %>
  </div>
</div>

<%= render @user %>

<div class="d-flex justify-content-between align-items-center mb-3 mt-5">
  <% if @daily_reports.blank? %>
    <h1 class="h3">まだ日報を作成していません</h1>
  <% else %>
    <h1 class="h3">最新の日報</h1>
  <% end %>
  <% if @user == current_user %>
    <%= link_to '日報を作成する', new_daily_report_path, class: "btn btn-outline-info" %>
  <% end %>
</div>

<%= render partial: 'daily_reports/daily_reports', locals: {daily_reports: @daily_reports, filters: [], no_pagenate: true} %>

<div class="mt-4 text-center">
  <%= link_to 'すべて見る', daily_reports_path(q: {user_id_eq: @user.id}), class: "btn btn-outline-secondary" %>
</div>
