<div class="text-center">
  <%= render @user %>

  <% if can? :edit, @user %>
    <%= link_to "編集", edit_user_path(@user), class: 'btn btn-outline-info' %>
    <%= link_to "パスワードの変更", edit_user_password_path(user_id: @user.id), class: 'btn btn-outline-info' %>
  <% end %>
</div>

<div class="border-bottom mt-5 mb-5"></div>

<% if @daily_reports.blank? %>
  <h2 class="mb-3">まだ日報を作成していません</h2>
<% else %>
  <%= render partial: 'daily_reports/daily_reports', locals: {daily_reports: @daily_reports} %>
<% end %>

<div class="mt-4 text-center">
  <% if @user == current_user %>
    <%= link_to '日報を作成する', new_daily_report_path, class: "btn btn-outline-info" %>
  <% end %>
  <% if @daily_reports.size == 5 %>
    <%= link_to 'すべて見る', daily_reports_path(filter: {user_id: @user.id}), class: "btn btn-outline-secondary" %>
  <% end %>
</div>
