<%= form_with url: user_password_path, method: :patch, model: user do |form| %>
  <%= render partial: 'layouts/error_messages', locals: {obj: user} %>

  <div class="mb-3">
    <%= form.label :password, class: "form-label" %>
    <%= form.password_field :password, class: "form-control" %>
  </div>

   <div class="mb-3">
     <%= form.label :password_confirmation, class: "form-label" %>
     <%= form.password_field :password_confirmation, class: "form-control" %>
   </div>

  <div>
    <%= form.submit class: "btn btn-outline-info" %>
    <%= link_to "戻る", user_path(user), class: 'btn btn-outline-secondary' %>
  </div>
<% end %>
