<%= turbo_frame_tag "comments" do %>
  <% comments.each do |comment| %>
    <div class="card mb-2">
      <div class="card-body pt-2">
        <p class="card-subtitle">
          <span class="small">
            <%= link_to comment.user.full_name, user_path(comment.user), data: { turbo_frame: "_top" }, class: "link-dark link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover" %>
            <%= l comment.created_at %>
          </span>
        </p>
        <p class="card-text">
          <%= h(comment.content).gsub(/\R/, '<br>').html_safe %>
        </p>
      </div>
      <% if can? :destroy, comment %>
        <%= link_to '削除', daily_report_comment_path(comment.daily_report, comment), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' }, class: 'btn btn-outline-danger btn-sm position-absolute', style: "bottom: 3px; right: 3px;" %>
      <% end %>
    </div>
  <% end %>
<% end %>
