<div id="<%= dom_id daily_report %>">
  <h1>
    <%= daily_report.title %>
  </h1>

  <p>
    <% daily_report.learned_tags.each do |tag| %>
      <%= link_to tag.name, daily_reports_path, class: "link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover me-1" %>
    <% end %>
  </p>

  <div class="d-flex justify-content-between align-items-center">
    <p class="mb-4">
      <span class="small">
        <%= link_to daily_report.user.full_name, user_path(daily_report.user), class: "link-dark link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover" %>
        <%= l daily_report.created_at %>
      </span>
      <span class="badge rounded-pill <%= "mood-#{daily_report.mood}" %>">
        <%= daily_report.mood_ja %>
      </span>
    </p>

    <div class="thumbs-up">
      <%= render partial: 'thumbs_up', locals: {daily_report: daily_report} %>
    </div>
  </div>

  

  <p>
    <%= h daily_report.content %>
  </p>
</div>
