<%= form_with(model: daily_report) do |form| %>
  <% if daily_report.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(daily_report.errors.count, "error") %> prohibited this daily_report from being saved:</h2>

      <ul>
        <% daily_report.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :content, class: "form-label" %>
    <%= form.text_area :content, class: "form-control", rows: 10 %>
  </div>

  <div class="mb-3">
    <div class="form-check form-check-inline">
      <%= form.radio_button :mood, "normal", class: "form-check-input" %>
      <%= form.label :mood, "まあまあ", class: "form-check-label" %>
    </div>
    <div class="form-check form-check-inline">
      <%= form.radio_button :mood, "fun", class: "form-check-input" %>
      <%= form.label :mood, "楽しかった", class: "form-check-label" %>
    </div>
    <div class="form-check form-check-inline">
      <%= form.radio_button :mood, "productive", class: "form-check-input" %>
      <%= form.label :mood, "捗った", class: "form-check-label" %>
    </div>
    <div class="form-check form-check-inline">
      <%= form.radio_button :mood, "sleepy", class: "form-check-input" %>
      <%= form.label :mood, "眠かった", class: "form-check-label" %>
    </div>
    <div class="form-check form-check-inline">
      <%= form.radio_button :mood, "unwell", class: "form-check-input" %>
      <%= form.label :mood, "体調不良", class: "form-check-label" %>
    </div>
  </div>

  <div>
    <%= form.submit class: "btn btn-outline-info" %>
  </div>
<% end %>
