<div class="col-md-8 m-auto">
  <%= render @daily_report %>

  <% if can? :edit, @daily_report %>
    <%= link_to "編集", edit_daily_report_path(@daily_report), class: 'btn btn-outline-info' %>
  <% end %>
  <%= link_to "戻る", daily_reports_path, class: 'btn btn-outline-secondary' %>
  <% if can? :destroy, @daily_report %>
    <%= link_to "削除", @daily_report, data: { turbo_method: :delete }, class: 'btn btn-outline-danger', onclick: "return confirm('本当に削除しますか？')" %>
  <% end %>

  <%= turbo_frame_tag "comments" do %>
    <div class="mt-4">
      <%= render partial: "comments/comments", locals: {comments: @comments} %>
    </div>
    <div class="mt-4">
      <%= render partial: "comments/form", locals: {daily_report: @daily_report} %>
    </div>
  <% end %>
</div>
