<!DOCTYPE html>
<html>
  <head>
    <title>Gunma</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if user_signed_in? %>
      <%= link_to 'プロフィール', user_path(current_user.id) %>
      <% if can? :read, User %>
        <%= link_to 'ユーザー一覧', users_path %>
      <% end %>
      <%= link_to '日報一覧', daily_reports_path %>
      <%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: "ログアウトします。よろしいですか？" } %>
    <% end %>
    <%= yield %>
  </body>
</html>
