<!DOCTYPE html>
<html>
  <head>
    <title>Gunma</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "actiontext", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="sticky-top">
      <nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
          <%= link_to 'Gunma', root_path, class: 'navbar-brand' %>
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-lg-0">
              <% if user_signed_in? %>
                <li class="nav-item">
                  <%= link_to '日報一覧', daily_reports_path, class: 'nav-link' %>
                </li>
                <li class="nav-item">
                  <%= link_to 'ユーザー一覧', users_path, class: 'nav-link' %>
                </li>
                <li class="nav-item">
                  <%= link_to 'プロフィール', user_path(current_user.id), class: 'nav-link' %>
                </li>
                <li class="nav-item">
                  <%= link_to '新規日報', new_daily_report_path, class: "nav-link" %>
                </li>
              <% end %>
            </ul>
            <ul class="navbar-nav">
              <% if user_signed_in? %>
                <li class="nav-item">
                  <%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: "ログアウトします。よろしいですか？" }, class: "nav-link" %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to 'ログイン', new_user_session_path, class: 'nav-link' %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    
    
    <% if notice.present? %>
      <div class="alert alert-success" role="alert">
        <%= notice %>
      </div>
    <% end %>
    <% if alert.present? %>
      <div class="alert alert-danger" role="alert">
        <%= alert %>
      </div>
    <% end %>

    <main class="container mt-5 mb-5">
      <%= yield %>
    </main>
  </body>
</html>
